<mat-card>
    <mat-card-content>
        <h2>New Loan</h2>

        <form (ngSubmit)="submit()"  [formGroup]="form">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Requester name</mat-label>
                <input matInput formControlName="applicantName" />
                <mat-error *ngIf="form.get('applicantName')?.hasError('required')">
                    Requester name is mandatory
                </mat-error>
                <mat-error *ngIf="form.get('applicantName')?.hasError('maxlength')">
                    The maximum length is 100 characters
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Amount</mat-label>
                <input matInput type="number" formControlName="amount" />
                <mat-error *ngIf="form.get('amount')?.hasError('required')">
                    The amount is required
                </mat-error>
                <mat-error *ngIf="form.get('amount')?.hasError('min')">
                    The amount must be greater than zero
                </mat-error>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="secondary" type="submit" [disabled]="loading || form.invalid">
                    Create
                </button>
            </mat-card-actions>
            <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
        </form>
    </mat-card-content>
</mat-card>